<ion-header>

  <ion-navbar no-border-bottom color="gray">
    <ion-title>Équipe</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-toolbar no-border-top color="gray">
    <ion-segment [(ngModel)]="usersList" color="vivid-yellow">
      <ion-segment-button value="junior_mentors">
        Élèves
      </ion-segment-button>
      <ion-segment-button value="mentors">
        Mentors
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>


<ion-content>
  <div [ngSwitch]="usersList">
    <ion-list *ngSwitchCase="'junior_mentors'">
      <button ion-item *ngFor="let user of students" [navPush]="userInfosPage" [navParams]="{ userObject: user }" detail-push>
        <ion-avatar item-start>
          <img src="{{ user.photoUrl }}" onerror="this.src='assets/imgs/placeholder-profile-image.jpg'">
        </ion-avatar>

        <h2 style="color: #f0ad4e">{{ user.firstName }} {{ user.name }}</h2>
        <p>{{ user.email }}</p>
      </button>
    </ion-list>
    <ion-list *ngSwitchCase="'mentors'">
      <button ion-item *ngFor="let user of mentors" [navPush]="userInfosPage" [navParams]="{ userObject: user }" detail-push>
        <ion-avatar item-start>
          <img src="{{ user.photoUrl }}" onerror="this.src='assets/imgs/placeholder-profile-image.jpg'">
        </ion-avatar>

        <h2 style="color: #f0ad4e">{{ user.firstName }} {{ user.name }}</h2>
        <p>{{ user.email }}</p>
      </button>
    </ion-list>
  </div>
</ion-content>
