<ion-header>

  <ion-navbar color="gray">
    <ion-title>Calendrier</ion-title>
  </ion-navbar>

  <ion-toolbar no-border-top color="gray">
    <ion-segment [(ngModel)]="eventsList" color="vivid-yellow">
      <ion-segment-button value="upComing">
        À venir
      </ion-segment-button>
      <ion-segment-button value="past">
        Passés
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>

<ion-content>
  <div [ngSwitch]="eventsList">
    <ion-list *ngSwitchCase="'upComing'">
      <ion-item-sliding *ngFor="let event of upComingEvents">
        <ion-item [navPush]="eventInfosPage" [navParams]="{ eventObject: event }">
          <h3>Le {{ event.startDate | date:'fullDate' }}, de {{ event.startDate | date:'shortTime' }} à {{ event.endDate | date:'shortTime' }}</h3>
          <h2 style="color: #f0ad4e">{{ event.title }}</h2>
          <p>{{ event.body }}</p>
        </ion-item>
        <ion-item-options side="right" *ngIf="authService.canWrite(user)">
          <button ion-button color="vivid-yellow">
            <ion-icon name="md-create"></ion-icon>
            Modifier
          </button>
          <button ion-button color="danger" (click)="this.dbService.deleteEvent(event.id)">
            <ion-icon name="trash"></ion-icon>
            Supprimer
            </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>

    <ion-list *ngSwitchCase="'past'">
      <ion-item-sliding *ngFor="let event of pastEvents">
        <ion-item [navPush]="eventInfosPage" [navParams]="{ eventObject: event }">
          <h3>Le {{ event.startDate }}, de {{ event.startDate }} à {{ event.endDate }}</h3>
          <h2 style="color: #f0ad4e">{{ event.title }}</h2>
          <p>{{ event.body }}</p>
        </ion-item>
        <ion-item-options side="right">
          <button ion-button color="vivid-yellow">
            <ion-icon name="md-create"></ion-icon>
            Modifier
          </button>
          <button ion-button color="danger" (click)="this.dbService.deleteEvent(event.id)">
            <ion-icon name="trash"></ion-icon>
            Supprimer
            </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </div>

  <ion-fab bottom right *ngIf="authService.canWrite(user)">
    <button ion-fab (click)="showAddEventModal()" color="vivid-yellow"><ion-icon name="md-create"></ion-icon></button>
  </ion-fab>
</ion-content>